/*
Specific for courses page
*/

.page-general.page-courses {
  .temario_line{
    background: $blanquesino;
    padding: 15px 0;
    a{
      width: 100%;
      p{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        line-height: 36px;
        height: auto;
        background: $blanco;
        padding: 0 15px;
        margin-top: 5px;
        span{
          display: inline;
        }
      }
    }
  }
  .teachers_line {
    background-color: $blanco;
    a, & {
      color: $azul_oscuro_sec;
    }
  }
}
