/*
Specific for courses page
*/

.page-general.page-courses {
  .temario_line{
    h3{
      &:after{
        display: none !important;
      }
    }
    background: $blanquesino;
    padding: 15px 0;
    a{
      width: 100%;
      p{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        line-height: 36px;
        height: auto;
        background: $blanco;
        padding: 0 15px;
        margin-top: 5px;
        &:before{
          color: $azul_oscuro_sec;
          font-size: 30px;
          font-weight: bold;
          vertical-align: bottom;
        }
        span{
          display: inline;
        }
      }
    }
  }
  .teachers_line {
    background-color: $blanco;
    a, & {
      color: $azul_oscuro_sec;
    }
  }
}
