/*
Specific for FOOTER
*/

#footer {
  background-color: $azul_turquesa_dos;
  background-color: $azul_turquesa;
  //background-image: url("img/logo_footer.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  color: $blanco;
  padding: 50px 0;
  min-height: 302px;
  font-size: 14px;
  p{
    font-size: 14px;
    a{
      color: $blanco;
    }
  }
  .footer-location{
    background-image: url("img/footer_location.png");
    background-position: 80% center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    margin-top: 15px;
  }
  .footer_first {
    font-size: 1.25rem;
    padding-left: 20px;
    a{
      color: $blanco;
    }
  }
  .footer_second {
    padding-right: 20px;
  }
  .footer_third {
    .flex{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    margin-top: 100px;
    img {
      height: 75px;
      &.logo_one {
        height: 60px;
      }
      &.logo_two {
        height: 60px;
      }
      &.logo_thr {

      }
      &.logo_fou {
        height: 50px;
      }
      &.logo_fiv {
        height: 60px;
      }
    }
  }
}

.text-right {
  text-align: right;
}

.base_bg {
  background-color: $footer_bg;
}