/*

-> COLORES

-> General elements

-> Sliders

*/

// COLORES

$azul_oscuro: #132a3c;
$azul_cian: #3e607b;
$azul_cian_claro: #1a80b6;
$negro: #3d3d3d;
$blanco: #fff;


//SIZES - Media Queries

$xlg-width: 1600px;
$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;
$xs-width: 100%;