/*

-> COLORES

-> General elements

-> Sliders

*/

// COLORES

$azul_vivo: #001eff;
$azul_oscuro: #132a3c;
$azul_oscuro_sec: #262b60;
$azul_oscuro_claro: #18354c;
$azul_cian: #3e607b;
$azul_cian_claro: #1a80b6;
$azul_claro_teachers: #3e607b;
$azul_palido: #4b607a;
$azul_palido_claro: #63758a;
$azul_turquesa: #0b2637;
$azul_turquesa_dos: #003333;

$negrisimo: #010101;
$negro: #3d3d3d;
$blanco: #fff;
$blanquesino: #f4f4f4;

$oscurito: #4d4d4d;
$footer_bg: #383838;

//SIZES - Media Queries

$xlg-width: 1100px;
$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;
$xs-width: 100%;
$pry_width: 70%;
$sec_width: 24%;
#content {
  position: relative;
  #primary {
    position: relative;
    padding: 0 0 15px 0;
    display: block;
    h3, h2 {
      color: $azul_claro_teachers;
      &:after {
        content: '';
        position: relative;
        display: block;
        width: 220px;
        height: 4px;
        border-bottom: $azul_cian 2px solid;
      }
    }
    main article .ctm-entry-content {
      width: $pry_width;
      float: left;
    }
  }
  #secondary {
    display: block;
    height: 100%;
    width: $sec_width;
    float: right;
    .sidebar-content {
      background-color: $azul_oscuro;
      position: relative;
      color: $blanco;
      display: block;
      max-width: 300px;
      padding: 15px 0;
      > img {
        display: block;
        width: 100px;
        margin: 15px auto;
      }
      ul {
        margin: 50px 0;
        padding: 0;
        list-style: none;
        li {
          &.sideicon_dw a span {
            background-image: url("img/sideicon_dw.png")
          }
          &.sideicon_rv a span {
            background-image: url("img/sideicon_rv.png")
          }
          &.sideicon_sk a span {
            background-image: url("img/sideicon_sk.png")
          }
          a {
            display: block;
            color: $blanco;
            padding-left: 25px;
            span {
              background-position: 25% 50%;
              background-repeat: no-repeat;
              text-decoration: none;
              display: inline-block;
              width: 50px;
              height: 50px;
              vertical-align: middle;
            }
            &:hover {
              background-color: $azul_cian;
            }
          }
        }
      }
      .sidecontent {
        padding: 15px;
        width: 220px;
        margin: 0 auto;
        dl {
          dd {
            margin: 0;
            padding: 0;
          }
        }
        p a {
          display: inline-block;
          margin: 2px 1px;
          img {
          }
          width: 32px;
        }
      }
    }
  }
}

.page-general {
  font-size: 14px;
  .entry-header {
    display: table;
    width: 100%;
    text-align: center;
    color: $blanco;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .entry-title {
      height: 560px;
      display: table-cell;
      vertical-align: middle;
      font-size: 46px;
    }
  }
  .content-details {
    &_media,
    &_features {
      width: 50%;
      float: left;
    }
    &_media {
      img {
        width: 100%;
      }
    }
    &_features {
      background: $blanquesino;
      dl {
        width: 45%;
        float: left;
        padding: 1px 20px;
        margin: 15px 0;
        dt {
          margin: 0px 0 0 0;
          color: $azul_oscuro;
        }
        dd {
          padding: 0;
          margin: 0;
          color: $azul_oscuro;
        }
      }
    }
  }
  .content-details,
  .content-container {
    width: $xlg-width;
    margin: 0 auto;
  }

  .content-details {
    margin: 50px auto;
    font-size: 1.1em;
    img {
      height: 290px;
    }
  }
  .entry-content {
    padding: 0px 0px 0 0px;
    margin: 0;
    font-size: 13px;
    ul {
      padding: 0;
      margin: 20px;
    }
    h2 {
      font-size: 1.4em;
    }

    .ctm-contact-form-blue {
      h4 {
        font-size: 18px;
        margin: 0px 0px 20px 0px;
        font-weight: normal;
      }
      p {
        margin: 0;
        padding: 0;
      }
      background-color: $azul_palido;
      font-size: 14px;
      width: 100%;
      padding: 40px 30px 20px 30px;
      color: $blanco;
      textarea,
      input {
        font-size: 14px;
        padding: 3px 7px;
        margin: 5px 0;
        background-color: $azul_palido_claro;
        border-color: $azul_palido_claro;
        color: $blanco;
        &:focus {
          outline: 0px;
        }
      }
      input {
        width: 90%;
        &.wpcf7-form-control::placeholder {
          color: $blanco;
        }
        &.wpcf7-form-control:-ms-input-placeholder {
          color: $blanco;
        }
      }
      textarea {
        width: 100%;
        &::placeholder {
          color: $blanco;
        }
        &:-ms-input-placeholder {
          color: $blanco;
        }
      }
      div {
        width: 45%;
        margin: 5px 0;
        &.ctm-left {
          float: left;
          &.chkbox {
            width: 90%;
            input {
              width: auto !important;
            }
          }
        }
        &.ctm-right {
          float: right;
          text-align: right;
          &.ctm-submit {
            width: 8%;
            min-width: 60px;
            input {
              width: auto !important;
            }
          }
        }
      }
    }
  }

  .temario {
    div {
      margin-top: 5px;
      a {
        margin: 34px 0 0 0;
        display: block;
        width: 180px;
        color: $azul_oscuro_sec;
        span.ctm_pictograma {
          display: block;
          width: 65px;
          height: 65px;
          margin-left: 15px;
          background-image: url("/site/ctm_assets/services/bim/logos_modulos_master_bim_def.png");
          background-repeat: no-repeat;
          background-position-x: -15px;
        }
        &:hover {
          color: $azul_cian;
          text-decoration: none;
          span.ctm_pictograma {
            background-position-x: -109px;
          }
          p span {
          }
        }
        img {
          margin: 0 auto;
          display: block;
        }
        img {
          margin: 10px 0;
          height: 75px;
        }
        p {
          width: 210px;
          margin: 0 auto;
          font-size: 16px;
          text-align: left;
          height: 45px;
          padding-left: 15px;
          strong {
            //display: block;
            line-height: 18px;
            span {
              display: block;
              margin-left: 00px;
            }
          }
          &:before {
            content: "+ ";
            display: block;
            font-size: 16px;
            margin-right: 2px;
            font-weight: 300;
            position: absolute;
            height: 45px;
            left: 20px;
          }
        }
      }
      &.m_1 a span.ctm_pictograma {
        background-position-y: -15px;
      }
      &.m_2 a span.ctm_pictograma {
        background-position-y: -110px;
      }
      &.m_3 a span.ctm_pictograma {
        background-position-y: -205px;
      }
      &.m_4 a span.ctm_pictograma {
        background-position-y: -300px;
      }
      &.m_5 a span.ctm_pictograma {
        background-position-y: -395px;
      }
      &.m_6 a span.ctm_pictograma {
        background-position-y: -490px;
      }
      &.m_7 a span.ctm_pictograma {
        background-position-y: -581px;
      }
      &.m_8 a span.ctm_pictograma {
        background-position-y: -672px;
      }
      &.m_9 a span.ctm_pictograma {
        background-position-y: -763px;
      }
      &.m_10 a span.ctm_pictograma {
        background-position-y: -857px;
      }
      &.m_11 a span.ctm_pictograma {
        background-position-y: -955px;
      }
      &.m_12 a span.ctm_pictograma {
        background-position-y: -1046px;
      }
    }
  }
  // Carrousel
  .teachers_line {
    color: $blanco;
    background-color: #f4f4f4;
    margin: 55px 0 45px 0;
    padding: 10px;
    height: 315px;
    overflow: hidden;
    .carousel-inner {
      width: 20000px;
      height: 299px;
      overflow: hidden;
      position: absolute;
      .item {
        width: 180px;
        padding: 0px 0px 12px 0px;
        display: block;
        float: left;
        background-color: #efefef;
        margin-left: 10px;
        &:first-child {
          margin-left: 0px;
        }
      }
    }
    .carousel.slide {
      position: relative;
      height: 299px;
      .carousel-control {
        a {
          width: 50px;
          height: 33px;
          padding: 3px 10px;
          display: block;
          background-color: rgba(0, 0, 0, 0.5);
          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            span {
              color: $negrisimo;
            }
          }
          span {
            font-size: 26px !important;
          }
        }
      }
      .carousel-control.left, .carousel-control.right {
        width: 50px;
        position: absolute;
        top: 50%;
        margin: 0;
      }
      .carousel-control.left {
        left: 10px;
      }
      .carousel-control.right {
        right: 10px;
      }
    }
  }
  .casos_line {
    color: $blanco;
    padding: 15px;
    margin: 15px;
    a {
      color: #fff !important;
    }
    .ctm_case {
      background-repeat: no-repeat;
      background-size: 115% 100%;
      background-position: center right;
      .ctm_case_content {
        background-color: rgba(75, 97, 123, 0.87);
        padding: 15px 25px;
        h1 {
          font-weight: lighter;
          font-size: 16px;
          margin-bottom: 0;
        }
        h2 {
          color: #FFFFFF !important;
          font-weight: lighter;
          line-height: 21px;
          margin-top: 0;
          font-weight: 600;
          &:after {
            display: none !important;
          }
        }
        p {
          font-size: 12px;
          margin-bottom: 8px;
          font-weight: normal;
        }
      }
    }
  }
  .posts_line {
    background-color: $azul_oscuro;
    margin: 40px 0 62px 0;
    &, a {
      color: $blanco;
    }
    div {
      padding-right: 0 !important;
      padding-left: 0 !important;
      &:nth-child(even) {
        background-color: $azul_oscuro_claro;
      }
      a {
        &:hover {
          > p {
            span {
              text-decoration: none;
            }
          }
        }
        p {
          padding-right: 15px;
          padding-left: 15px;
          font-weight: bold;
          span {
            font-size: 10px;
            display: block;
            font-weight: normal;
          }
        }
      }
    }
  }
  .display_table {
    display: table;
    text-align: center;
  }
  .display_table_row {
    display: table-row;
    vertical-align: middle;
    img {
      width: 50%;
    }
  }
}

.method_line {
  margin-top: 40px;
  > div {
    text-align: center;
    h4 {
      font-size: 25px;
      color: #4b617b;
      margin-top: 15px;
      margin-bottom: 10px;
      span {
        display: block;
      }
    }
  }
}

.white-space {
  margin: 30px 0;
}

.modified .entry-title {
  color: transparent;
}

.site-header.modified {
  background-color: rgba(75, 96, 122, 0.7);
}

