/*

-> COLORES

-> General elements

-> Sliders

*/

// COLORES

$azul_vivo: #001eff;
$azul_oscuro: #132a3c;
$azul_oscuro_claro: #18354c;
$azul_cian: #3e607b;
$azul_cian_claro: #1a80b6;
$azul_claro_teachers: #3e607b;
$azul_palido: #4b607a;
$azul_palido_claro: #63758a;

$negrisimo: #010101;
$negro: #3d3d3d;
$blanco: #fff;
$blanquesino: #f4f4f4;


//SIZES - Media Queries

$xlg-width: 1100px;
$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;
$xs-width: 100%;