/*
page home / blog
*/
.page-home {
  .main-text {
    color: $azul_oscuro_sec;
  }
  .main-lastest-post {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .main-lastest-post-shadow {
      padding: 30px;
      &:before {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.65) 100%);
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.65) 100%);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
      }
    }
    h2 {
      color: $blanco !important;
      font-size: 1.2em;
      &:after {
        width: 170px !important;
        border-bottom: #ffffff 2px solid !important;
      }
    }
    h1 {
      font-size: 1.5em;
      color: $blanco !important;
    }
    p {
      font-size: 0.8em;
      color: $blanco !important;
    }
    .main-latest-post-date {
      text-align: center;
      a {
        background-color: $blanco;
        padding: 5px 10px;
        color: $azul_oscuro;
      }
      p {
        color: $blanco;
        font-size: 1.2em;
      }
    }
  }
  .page-blog-entry {
    margin-top: 15px;
    background-color: $oscurito;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    min-height: 330px;
    max-height: 330px;
    header {
      height: 170px;
    }
    main {
      height: 152px;
      background-color: $blanquesino;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      h5 {
        padding-top: 10px;
        font-size: 0.9em;
        margin: 0;
        color: $azul_oscuro;
      }
      p {
        margin: 0;
        font-size: 0.8em;
      }
    }
  }
  #secondary {
    .sidebar-content {
      ul#sidebar-second {
        text-align: center;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          a {
            padding-left: 0 !important;
            line-height: 50px;
          }
        }
      }
    }
  }
}