/*
Specific for services page
*/

.page-services {
  .entry-header {
    .entry-title {
      background-repeat: no-repeat, no-repeat;
      background-position: 30% 90%, 70% 90%;
      background-size: 300px;
      background-image: url('img/il3_logo.png'), url('img/ub_logo.png');
    }
  }
  .content-details {
    &_media,
    &_features {
      width: 50%;
      float: left;
    }
    &_media {
      img {
        width: 100%;
      }
    }
    &_features {
      background: $blanquesino;
      dl {
        width: 45%;
        float: left;
        padding: 1px 20px;
        margin: 15px 0;
        dt {
          margin: 0px 0 0 0;
          color: $azul_oscuro;
        }
        dd {
          padding: 0;
          margin: 0;
          color: $azul_oscuro;
        }
      }
    }
  }
  .content-details,

  .content-details {
    margin: 50px auto;
    font-size: 1.1em;
    img {
      height: 290px;
    }
  }
}
